.gerrit-box.gerrit-sidebox {
  margin-bottom: 10px;
  padding: 10px 0;
  border-bottom: 1px solid #d8d8d8;
}

.gerrit-box h4 {
  margin: 10px 0;
}
.gerrit-box h4 img {
  height: 25px;
  width: 25px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px
}

.gerrit-box h4 a {
  color: #222;
  text-decoration: none;
}

.gerrit-box h4 a:hover {
  text-decoration: underline;
}

.gerrit-box .gerrit-button {
  margin-bottom: 10px;
}

.gerrit-box a.gerrit-button {
  text-decoration: none;
}

.gerrit-box .status {
  color: #555;
}

.gerrit-box .note {
  color: #888;
  font-size: 12px;
  margin: 10px 0;
}

.gerrit-box .note.error {
  color: #b30000;
}

.gerrit-box .note a {
  text-decoration: none;
  color: #888;
}

.gerrit-box .note a:hover {
  text-decoration: underline;
}

.gerrit-box .note .note-title {
  font-weight: bold;
}

.gerrit-box .note .reviewer-approved {
  color: #045900;
  font-weight: bold;
}

.green {
  color: #045900 !important;
}

.red {
  color: #b30000 !important;
}

.gerrit-content-box {
  background-color: #fdfdfd;
  border: 1px solid #eee;
  padding: 10px;
  margin: 10px 0;
}

.gerrit-file-title {
  padding: 3px 0;
  font-weight: bold;
  font-size: 1.3em;
  font-family: monospace;
}

.gerrit-line-header {
  font-weight: bold;
  padding: 3px 0;
  margin-top: 10px;
  font-family: monospace;
}

.gerrit-line {
  padding: 0;
  margin: 0;
  line-height: 1.3em;
  font-family: monospace;
}

.gerrit-line.gerrit-line-empty {
  padding: 0;
  margin: 0;
  font-family: monospace;
}

.gerrit-new-line {
  background-color: #dfd;
}

.gerrit-old-line {
  background-color: #fee;
}

.gerrit-line-edit-part-old {
  /*background-color: #faa;*/
  background-color: #ffcccc;
  display: inline-block;
}

.gerrit-line-edit-part-new {
  background-color: #B5F7B5;
  display: inline-block;
}

.gerrit-highlight-box {
  background-color: #ffffdd;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
}

.gerrit-header {
  font-weight: bold;
  font-size: 1.3em;
}

.gerrit-highlight-box p:last-child, .gerrit-content-box p:last-child {
  margin-bottom: 0;
}

.gerrit-highlight-box p:first-child, .gerrit-content-box p:first-child {
  margin-top: 0;
}

.gerrit-actions {
  padding: 10px;
  margin-top: 10px;
}

.gerrit-actions.primary {
  margin-top: 25px;  
  border-top: 1px solid #d8d8d8;
}

.gerrit-actions.touched {
  background-color: #dfd;
  border: 1px solid #d8d8d8;
}

textarea.gerrit-reply {
  display: block;
  width: 90%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 10px;
}