.gerrit-box.gerrit-sidebox {
  margin-bottom: 10px;
  padding: 10px 0;
  border-bottom: 1px solid #d8d8d8;
  margin-left: 10px
}

.gerrit-box h4 {
  margin: 10px 0;
}
.gerrit-box h4 img {
  height: 25px;
  width: 25px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px
}

.gerrit-box h4 a {
  color: #222;
  text-decoration: none;
}

.gerrit-box h4 a:hover {
  text-decoration: underline;
}

.gerrit-box .gerrit-button {
  margin-bottom: 10px;
}

.gerrit-button-small {
  font-size: 9px !important;
  padding: 0 !important;
  height: 16px !important;
  line-height: 16px !important;
}

a.gerrit-button {
  text-decoration: none;
  color: #444 !important;
}

.gerrit-button.error-button {
  background: none;
  background-color: #FF5722 !important;  
  color: white !important;
}

a.gerrit-button:hover {
  text-decoration: none;
}

.gerrit-box .status {
  color: #555;
}

.gerrit-box .note {
  color: #888;
  font-size: 12px;
  margin: 10px 0;
}

.gerrit-box .note.error {
  color: #b30000;
}

.gerrit-box .note a {
  text-decoration: none;
  color: #888;
}

.gerrit-box .note a:hover {
  text-decoration: underline;
}

.gerrit-box .note .note-title {
  font-weight: bold;
}

.gerrit-box .note .reviewer-approved {
  color: #045900;
  font-weight: bold;
}

.gerrit-box .note .reviewer-approved-failed {
  color: #b30000;
  font-weight: bold;
}

.gerrit-box .note .reviewer-verified {
  color: #045900;
}

.gerrit-box .note .reviewer-verified-failed {
  color: #b30000;
}

.green {
  color: #045900 !important;
}

.red {
  color: #b30000 !important;
}

.gerrit-content-box {
  background-color: #fdfdfd;
  border: 1px solid #eee;
  padding: 10px;
  margin: 10px 0;
}

.gerrit-file-title {
  padding: 3px 0;
  font-weight: bold;
  font-size: 1.3em;
  font-family: monospace;
}

.gerrit-line-header {
  font-weight: bold;
  padding: 3px 0;
  margin-top: 10px;
  font-family: monospace;
}

.gerrit-line {
  padding: 0;
  margin: 0;
  line-height: 1.3em;
  font-family: monospace;
  font-size: 12px;
}

.gerrit-line.gerrit-line-empty {
  padding: 0;
  margin: 0;
  font-family: monospace;
}

.gerrit-new-line {
  background-color: #dfd;
}

.gerrit-old-line {
  background-color: #fee;
}

.gerrit-line-comment {
  border-left: 3px solid #E3CE8F;
  padding-left: 5px;
  margin: 10px 0 10px 5px;
}

.gerrit-line-comment.gerrit-parent-comment {
  border-color: #F5E8C4;
  color: #666;
  cursor: pointer;
}

.gerrit-parent-comments-collapsed {
  text-align: center;
  color: #999;
  cursor: pointer;
  color: #92AEDE;
}

.gerrit-parent-comments-collapsed .gerrit-strikethrough {
  text-decoration: line-through;
  margin: 0 10px;
}

.gerrit-line-comment.gerrit-parent-comment .gerrit-collapsed-toggle {
  display: none;
}

.gerrit-line-comment.gerrit-parent-comment.gerrit-collapsed {
  position: relative;
  height: 1.3em;
  overflow: hidden;
  color: #999;
}

.gerrit-line-comment.gerrit-parent-comment.gerrit-collapsed .gerrit-collapsed-toggle {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255,255,255,0.9);
  display: block;
  padding-left: 10px;
  color: #92AEDE;
  text-decoration: none;
}

.gerrit-line-edit-part-old {
  /*background-color: #faa;*/
  background-color: #ffcccc;
  display: inline-block;
}

.gerrit-line-edit-part-new {
  background-color: #B5F7B5;
  display: inline-block;
}

.gerrit-highlight-box {
  background-color: #ffffdd;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
}

.gerrit-header {
  font-weight: bold;
  font-size: 1.3em;
}

.gerrit-highlight-box p:last-child, .gerrit-content-box p:last-child {
  margin-bottom: 0;
}

.gerrit-highlight-box p:first-child, .gerrit-content-box p:first-child {
  margin-top: 0;
}

.gerrit-reply-box {
  margin-top: 10px;
}

.gerrit-reply-box.primary {
  margin-top: 25px;  
  border-top: 1px solid #d8d8d8;
  padding-top: 10px;
}

.gerrit-reply-box.inlined {
  margin-top: 0;
}

.gerrit-reply-box .action-buttons {
  margin-top: 10px;
}

.gerrit-reply-box.touched {
  padding: 10px;
  background-color: #FAEECA;
  border: 1px solid #d8d8d8;
}

textarea.gerrit-reply {
  display: block;
  width: 90%;
  margin: 0;
  border: 1px solid #ccc;
  padding: 10px;
}

.gerrit-threadlist-icon {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

.gerrit-threadlist-span {
  display: inline-block;
  vertical-align: middle;
}

.gerrit-threadlist-topic {
  margin-left: 5px;
}

.gerrit-threadlist-button--muted {
  opacity: 0.6;
}

.gerrit-threadlist-button--success {
  background: none !important;
  background-color: #4CAF50 !important;
}
.gerrit-threadlist-button--success .gerrit-threadlist-span {
  color: white !important;
}

.gerrit-threadlist-button--danger {
  background: none !important;
  background-color: #FF5722 !important;
}
.gerrit-threadlist-button--danger .gerrit-threadlist-span {
  color: white !important;
}

.gerrit-threadlist-button--action {
  background: none !important;
  background-color: #FFC107 !important;
}
